.me-conheca {
    background-color: rgb(209, 175, 175);
    text-align: center;
    padding: 30px;
}

.redes-sociais {
    text-align: center;
    padding: 30px;
}

#certificados {
    text-align: center;
    padding: 30px;
}

.certificados {
    margin: auto;
}

.footer {
    background-color: rgb(209, 175, 175);
    text-align: center;
    font-weight: bolder;
    padding: 30px;
}