.me-conheca {
    background-color: rosybrown;
    text-align: center;
    padding: 30px;
}

.redes-sociais {
    text-align: center;
    padding: 30px;
}

#certificados {
    text-align: center;
    padding: 30px;
}

.certificados {
    margin: auto;
}